h1 {
  position: relative;
  font-family: Alata;
  font-size: 50px;
  color: #f5ea4c;
}
ul {
  position: relative;
  font-family: Alata;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  color: #7a9c2b;
  list-style: none;
}
.todayTemp {
  font-size: 60px;
  color: #9fe6e6;
}
.Link .active {
  color: black;
  cursor: default;
}
.Link .active:hover {
  text-decoration: none;
}
