.CurrentWeather {
  font-family: Alata;
  border: 2px solid #4b97a5;
  border-radius: 20px;
  padding: 25px;
  background-image: linear-gradient(30deg, #158bc2 0%, #91fff2 100%);
}

.CurrentWeather form {
  margin-top: 7px;
  margin-left: 90px;
}

.CurrentWeather h1 {
  margin: 15px 10px 50px 0px;
  text-align: center;
  line-height: 12px;
  font-size: 59px;
  color: #515855c9;
}

.CurrentWeather h2 {
  margin: -10px 5px 10px 0px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #2a5974;
}

.CurrentWeather h3 {
  margin: 5px 5px 10px 0px;
  text-align: center;
  font-size: 22px;
  color: #fffffde3;
}

.CurrentWeather canvas {
  margin: 10px auto;
}

.CurrentWeather .temperature {
  line-height: 64px;
  margin-left: 40px;
  font-size: 57px;
  font-weight: bold;
  color: #212121;
}

.CurrentWeather .unit {
  position: relative;
  line-height: 1;
  top: -34px;
  font-size: 13px;
  color: #212121;
}

.CurrentWeather .HumidityWind {
  text-align: center;
  padding-top: 9px;
  list-style: none;
  font-size: 16px;
  color: #fffffd;
}

.CurrentWeather .mt-2 {
  text-align: center;
}

@media (max-width: 600px) {
  .CurrentWeather .form-inline {
    margin: 0 0 0 30px;
  }
  .CurrentWeather .btn {
    margin: 0 0 0 40px;
  }
  .CurrentWeather .HumidityWind {
    text-align: center;
  }
}
